*{
  box-sizing:border-box ;
  padding:0 ;
  margin: 0;
}
a{
  color: aliceblue;
  text-decoration: none;
}
.header{
  display: flex;
  border-style: groove;
  justify-content: center; 
  font-weight:bolder;
  font-size: x-large;
  
}
.navbar {
width: 100%;
height: 5vh;
background:blue;
color:white;
display: flex;
align-items: center;
justify-content: space-evenly;
padding: 20px;

}
.footer{
  width: 100%;
  height: 5vh;
  background: blue;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.books{
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;

}
.book-list{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 ;
}
.reading{
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  text-align: center;
}
.book-details{
  text-align: center;
  display:flex;
  min-height: 80vh;
}

.home{
  min-height: 80vh;
  width: 100%;
  flex-direction: column;
  background:  url("https://media.istockphoto.com/photos/study-and-education-conceptautumn-booksback-to-school-halloween-books-picture-id1412583468?b=1&k=20&m=1412583468&s=170667a&w=0&h=9EVrpgNM0RQfbDv2V3Hp28L8xaaB_MPbhL05Gh0ph9M=" ) center/cover no-repeat;
  
}
.text{
  text-align: center;
  text-decoration: wavy;
  text-decoration-color: red;
    font-weight: bolder;
    font-style: italic;
    text-indent: 10px;
    font-size: x-large;
    padding: 100px;
}
.about{
  min-height: 80vh;
  width: 100%;
  text-align: center;
  
}
img{
  width: 300px;
  height: 300px;
  transition: all 0.3s ease;
}
img:hover{
  transform:scale(1.1 );
}
button{
  padding: 10px;
  background: black;
  color: orangered;
  width:100%;
  border-radius: 15px;
}
.active{
  color:orangered;
  font-weight: bold;
}
.logo{
  max-height: 60px;
  max-width: 70px;
}